@import "Animations";

:root {
	--gradient-color-1: #7928ca;
	--gradient-color-2: #ff0080;
}

.About {
	padding: 3.5rem;
}

.Name {
	font-size: 3rem;
	opacity: 0;
	animation: scrollIn 0.8s ease-in-out forwards;
}

.Title {
	margin-bottom: 1rem;
	opacity: 0;
	animation: scrollIn 0.8s 0.15s ease-in-out forwards;
}

.AboutText {
	font-size: 0.9rem;
	margin-top: 1rem;
	color: rgb(148, 148, 149);
	opacity: 0;
	animation: scrollIn 0.8s 0.25s ease-in-out forwards;
}

.GlowingButton {
	position: relative;
	padding: 10px 20px;
	margin-top: 1rem;
	color: #ffffff;
	background-color: transparent;
	cursor: pointer;
	border: 2px solid transparent;
	outline: none;
	transition: border-color 0.3s ease-in-out;
	background-color: transparent;

	&::before {
		content: "";
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		bottom: -2px;
		border: 2px solid transparent;
		border-image: linear-gradient(
			to bottom right,
			var(--gradient-color-1),
			var(--gradient-color-2)
		);
		border-image-slice: 1;
		border-radius: 10px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		filter: blur(12px);
		border-radius: 10px;
		transition: box-shadow 0.1s ease-in-out;
	}

	&:hover {
		transition: transform 0.3s ease;

		&::after {
			box-shadow: 0 0 0 15px rgba(121, 40, 202, 0.3);
		}
	}
}

.Links {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	opacity: 0;
	animation: scrollIn 0.8s 0.35s ease-in-out forwards;
}

.Button {
	padding: 1rem 2rem;
	margin-top: 1rem;
	color: #ffffff;
	background-color: transparent;
	cursor: pointer;
	border: 2px solid #007cf0;
	transition: border-color 0.3s ease-in-out;
	border: none;
	border-radius: 10px;
	transition: background-color 0.2s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(28, 28, 28);
	gap: 1rem;
	transition: background-color 0.2s, transform 0.3s ease-in-out;

	&:hover {
		background-color: rgb(33, 33, 33);
	}
}
