@import "Animations";

:root {
	--gradient-color-1: #7928ca;
	--gradient-color-2: #ff0080;
}

.About {
	padding: 3.5rem;
	padding-top: 150px;
}

.Name {
	font-size: 3rem;
	opacity: 0;
	animation: scrollIn 0.8s 2.5s ease-in-out forwards;
}

.Title {
	margin-bottom: 1rem;
	opacity: 0;
	animation: scrollIn 0.8s 2.65s ease-in-out forwards;
}

.AboutText {
	font-size: 0.9rem;
	margin-top: 1rem;
	color: rgb(148, 148, 149);
	opacity: 0;
	animation: scrollIn 0.8s 2.75s ease-in-out forwards;
}
