@keyframes scrollIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes zoomIn {
	0% {
		width: 100%;
	}
	100% {
		width: 110%;
		margin-left: -5%;
	}
}
