@keyframes scrollIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes zoomIn {
	0% {
		width: 100%;
	}
	100% {
		width: 110%;
		margin-left: -5%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		z-index: -10;
	}
}

@keyframes pulse {
	to {
		transform: scale(0.8);
		opacity: 0.5;
	}
}
