.ExperienceItem {
	position: relative;
	padding: 2.5rem;
	background-color: rgb(32, 32, 34);
	cursor: pointer;
	transition: transform 0.2s;

	&:hover {
		transform: scale(1.1);
	}
}

.InstitutionName {
	font-size: 0.8rem;
	font-weight: 400;
}

.Role {
	font-size: 1.5rem;
}

.Location {
	font-size: 1.5rem;
}

.Technologies {
	color: rgb(148, 148, 149);
	padding-top: 1.5rem;
}
