@import "Animations";

.Experience {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;

	& > div {
		opacity: 0;
		animation: scrollIn 0.8s ease-in-out forwards;
		transition: transform 0.25s, background-color 0.25s, scale 0.25s;
	}

	&:hover > div:hover {
		animation-duration: 1s;
		scale: 1.1;
	}

	&:hover > * + *:not(:hover) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
			background-color: rgba(0, 0, 0, 0.2);
			pointer-events: none;
		}
	}
}

.Title {
	opacity: 0;
	animation: scrollIn 0.8s ease-in-out forwards;
}
